{% extends 'base.html' %}

{% block content %}

    <a href={% url 'update' car.id %}>
        <button type="button">Edytuj</button>
    </a>
    <a href={% url 'delete' car.id %}>
        <button type="button">Usuń</button>
    </a>

    <a href={% url 'cars' %}>
        <button type="button">Wróć</button>
    </a>


<span class="avatar"><img src="{% url 'images' car.avatar %}"  height="150" width="250"></span>

<div class="detail">
<p>Marka: {{ car.brand }}</p>
<p>Model: {{ car.model }}</p>
<p>Rocznik: {{car.year }}</p>
<p>Przebieg: {{ car.car_mileage }}</p>
<p>Typ nadwozia: {{ car.cars_type }}</p>
<p>Silnik: {{ car.engine }} </p>
<p>Moc: {{ car.power }} </p>
<p>Pojemność silnika: {{ car.capacity }}</p>
<p>Śr.spalanie: {{ car.consumption }}</p>
<p>Skrzynia biegów: {{car.transmission}}: {{ car.no_gears }} biegowa</p>
<p>Napęd: {{ car.drive }}</p>
<p>Liczba siedzeń: {{ car.number_of_seats }}</p>
<p>Kaucja: {{ car.deposit }}zł</p>
<p>Cena: {{ car.price }}zł za dobę.</p>
</div>
{% endblock %}